
{:source-paths ["src" "test"]
 :dependencies []
 :builds {:test {:target :node-script
                 :output-to "target/test.js"
                 :main cirru-parser.test/main!
                 :devtools {:after-load cirru-parser.test/reload!}}}}
